h1{
    text-align: center;
}
.해더, .푸터 {
    text-align: center;
    background-color: rgb(70, 69, 69);
    color: white;
    padding: 20px;
}
.네비게이션{
    background-color: aliceblue;
    padding: 10px;

}
ul {
    list-style-type: none;
}
li {
    display: inline; /*가로로 */
}
a {
    text-decoration: none; /*링크의 밑줄 제거*/
    color: slateblue;
    font-weight: bold; /*글자 표현 두께 변경*/
}

.특징 {
     display: inline-block; /*하나의 블록으로 만들어주기, 해당 블록들을 가로로 정렬*/
     padding: 20px;
     background-color: white;
     border-radius: 10px;
     margin: 20px; /*공간 설정*/
     box-shadow: 10px #d7d7d7;
}

body {
    background-color: #f9f9f9;
}


/* ***** 메뉴.html styleSheet ***** */
.메인 {
    width: 80%;
    margin: 20px auto;
}

.메뉴 {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.아이템 {
    text-align: center;
    padding: 10px ;
}

/* div 클래스 아이템 안에 있는 img 만 크기 조정*/
.아이템 img {
    width: 200px;
    border-radius: 100px;
}

/* ***** 주문하기.html styleSheet ***** */
.메인-주문하기 {
    width: 100%;
    background-color: white;
    padding: 20px;
    margin: 20px auto; /*auto 경우 가운데 정렬과 같은 나열을 사용할 때 쓰임*/
    border-radius: 10px;
    box-shadow: 0 0 10px #d7d7d7;
}

.메인이미지꾸미기 {
    text-align: center;
    width: 300px;
    height: 300px;
    margin: 10px;
}

.옵션이미지 {
    width: 100px;
}

.메인꾸미기 {
    display: flex;
    text-align: center;
    margin: 20px;
}
